@model IEnumerable<Carro.Models.Veiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Marca</td>
        <td>Combustivel</td>
        <td>Cor</td>
        <td>Botão</td>
    </tr>
    
    @foreach(var veiculo in Model)
            {
<tr>
    <td>@veiculo.Id</td>
    <td>@veiculo.Marca</td>
    <td>@(veiculo.CombustivelId > 0 ? veiculo.Combustivel.Nome : "")</td>
    <td>@veiculo.Cor.Nome</td>
    <td> <a href="/home/Veiculo/@veiculo.Id">Details</a></td>
</tr>
            }
</table>
