@model Carro.Models.Veiculo


@using Carro.Models;

@{
    ViewBag.Title = "Veiculo";

    IEnumerable<VeiculoCombustivel> listaCombustiveis = ViewBag.ListarCombustiveis;
    IEnumerable<VeiculoCor> listaCores = ViewBag.ListarCores;
    IEnumerable<VeiculoOcorrencia> listaOcorrencias = ViewBag.ListarOcorrencias;
}
<div class="bloco">

    <h2>Veiculo @Model.Id</h2>
    <form id="formVeiculo">
        <input id="Id" type="hidden" name="Id" value="@Model.Id" />
        <input id="Marca" type="text" name="Marca" value="@Model.Marca" />
        <select id="CorId" name="CorId">
            <option></option>
            @foreach (var cores in listaCores)
            {
                <option value="@cores.Id" @(Model.CorId == cores.Id ? "selected" : "")>@cores.Nome</option>
            }
        </select>
        <select id="CombustivelId" name="CombustivelId">
            <option></option>
            @foreach (var combustiveis in listaCombustiveis)
            {
                <option value="@combustiveis.Id" @(Model.CombustivelId == combustiveis.Id ? "selected" : "")>@combustiveis.Nome</option>
            }
        </select>
        <button type="button" onclick="SalvarVeiculo()">Salvar</button>

    </form>

    <h2>Ocorrencias do veiculo @Model.Id</h2>

    <div id="ListarOcorrencia"></div>


    <h3>Adicionar Observação</h3>

    <form>
        <input id="VeiculoId" type="hidden" name="VeiculoId" value="@Model.Id" />
        <input id="Obs" type="text" name="Obs" />
        <input id="Data" type="datetime" name="Data" />
        <button type="button" id="btSalvarOcorrencia" onclick="SalvarOcorrencia()">Cadastrar</button>
    </form>


</div>

<script>

    function SalvarVeiculo() {
        /*var json = {
            Id: $("#Id").val(),
            Marca: $("#Marca").val(),
            CorId: $("#CorId").val(),
            CombustivelId: $("#CombustivelId").val()
        }*/

        var json = $("#formVeiculo").serialize()

        

        $.ajax({
            url: "/Home/SalvarVeiculo",
            method: "post",
            data: json,
            success: function (data) {
                console.log(data);
            }
        })
    }



    chamarOcorrencias()

    //-----------------------------------
    function chamarOcorrencias() {
            $.get("/Home/ListarOcorrencias?id=@Model.Id", function (data) {
        $("#ListarOcorrencia").html(data)
    })
    };

    //-----------------------------------

    function SalvarOcorrencia() {
        var json = {
            VeiculoId: $("#VeiculoId").val(),
            Obs: $("#Obs").val(),
            Data: $("#Data").val()
        }

        $.ajax({
            url: "/Home/SalvarOcorrencia",
            method: "post",
            data: json,
            success: function (data) {
                chamarOcorrencias();
            }
        })
    }
</script>
