@model Carro.Models.Veiculo


@using Carro.Models;

@{
    ViewBag.Title = "Veiculo";

    IEnumerable<VeiculoCombustivel> listaCombustiveis = ViewBag.ListarCombustiveis;
    IEnumerable<VeiculoCor> listaCores = ViewBag.ListarCores;
    IEnumerable<VeiculoOcorrencia> listaOcorrencias = ViewBag.ListarOcorrencias;
}
<div class="bloco">

    <h2>Veiculo @Model.Id</h2>
    <form method="post" action="/Home/Veiculo">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="text" name="Marca" value="@Model.Marca" />
        <select name="CorId">
            <option></option>
            @foreach (var cores in listaCores)
            {
                <option value="@cores.Id" @(Model.CorId == cores.Id ? "selected" : "")>@cores.Nome</option>
            }
        </select>
        <select name="CombustivelId">
            <option></option>
            @foreach (var combustiveis in listaCombustiveis)
            {
                <option value="@combustiveis.Id" @(Model.CombustivelId == combustiveis.Id ? "selected" : "")>@combustiveis.Nome</option>
            }
        </select>
        <input type="submit" value="Enviar" />

    </form>

    <h2>Ocorrencias do veiculo @Model.Id</h2>

    <table class="table">
        <tr>
            <td>Veiculo</td>
            <td>Obs</td>
            <td>Data</td>
        </tr>

        @foreach (var ocorrencias in listaOcorrencias)
        {
            <tr>
                <td>@ocorrencias.Marca.Marca</td>
                <td>@ocorrencias.Obs</td>
                <td>@ocorrencias.Data</td>
            </tr>
        }
    </table>
   
    <h3>Adicionar Observação</h3>

    <form method="post" action="/Home/SalvarOcorrencia">
        <input id="VeiculoId" type="hidden" name="VeiculoId" value="@Model.Id" />
        <input type="text" name="Obs" />
        <input type="datetime" name="Data" />
        <input type="submit" value="Enviar" />
    </form>


</div>
<script>
    console.log($('#VeiculoId').val())

</script>
